*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Galada', cursive;
}

#nav-bar{
  
	height: 10vh
	width: 100%;
	position: fixed;
	z-index: 100;
}

 .login{
    border: 2px solid #f54538;
    padding: 0 10px;
    border-radius: 10px;
  }

nav{
  height: 10vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131313;
  color: white;
}

.header{
  padding-left: 10%;
  color: #f54538;
}

h2{
  color: #f54538;
}

a{
  color: white;
}

ul{
  display: flex;
  padding-right: 10%;
}

li{
  list-style: none;
  padding: 0 10px 0 10px;
}

.myblog{
  height: 100%;
}

body{
  height: 100%;
  background-color: white;
}

.page{
 background: radial-gradient(#525252 ,#131313);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parah{
  color: white;
  text-align: left;
  margin-right: 10%;
}

.image{
}

img{
  height: 400px;
}

#hey{
  font-size: 100px;
}


about{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:600px){
  
#nav-bar{
	  height: 10vh;
	  width: 100%;
  }
  
nav{
    height: 10vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background: #131313;
  }
  
.page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(#525252 ,#131313);
}

.parah{
  color: white;
  text-align: center;
  margin:10vh 0 0 0;
}

#hey{
  font-size: 50px;
}
  
ul{
  display: flex;
  padding-right: 5%;
}
  

.header{
  padding-left: 5%;
}
  
img{
  height: 200px;
  margin:0;
}
  
h2{
  color: #f54538;
}
  
 
}